.DS_Store
**/.env
**/config/
**/logs/
**/pg_data/
**/pgadmin-data/
**/week04-star-schema/Lab4
**/Lab4.zip
**/CLAUDE.md
__pycache__/
/**/week01-data-warehouse-setup/lab-week01/DWH_Lab
/**/week02-olap-metabase/lab-week02
/**/week02-olap-metabase/docs/screenshots
/**/week03-kpi-layer/lab-week03
/**/week03-kpi-layer/docs/screenshots
/**/week05-snowflake-schema-with-dbt/lab-week05
/**/week05-snowflake-schema-with-dbt/docs/screenshots/
/**/week06-scd-with-dbt/lab-week06
/**/week06-scd-with-dbt/docs/screenshots/
/**/week07-fact-table-design-with-dbt/lab-week07
/**/week08-aggregation-summary-table-with-dbt/lab-week08
/**/week09-etl-incremental-scd-with-dbt/lab-week09
/**/week09-etl-incremental-scd-with-dbt/script
/**/week10-airflow-orchestration-with-dbt/lab-week10
/**/week10-airflow-orchestration-with-dbt/script